$font: "Roboto", sans-serif;
$main-color: #1ed760;
$text-color: #394b57;
$text-color2: #18262f;
$grey-color: #9aa8b3;
$grey-color2: #788894;
$light-grey-color: #d5dfe4;
$warning-color: #ffcc00;
$yellow-color: #fdc02f;
$bg-color: #f4f5f6;
$red-color: #ed5454;
$gren-color: #1ed760;
$orange-color: #fb7921;
$blue-color: #419bf9;
$blue-gradient-color: linear-gradient(90deg,#07488a 36%,#1889c5);

